<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7 text-center">
      <h1 class="text-white">404 - Page not found</h1>
      <a class="text-light" href="/" title="Go Home">Go Home</a>
    </div>
  </div>
</div>