<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Chỉnh sửa</h6>
              <h2 class="mb-0">Tài khoản phụ</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">*[NAP]</th>
                <th scope="col">2019/27/13</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Tennhanvat
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  sofanban
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  quythanhtien
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-danger"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  nganhang
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-info"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  taikhoannganhang
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  Log
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#!" class="btn btn-sm btn-primary">request OTP</a>
                </td>
                <td>
                  <a href="#!" class="btn btn-sm btn-warning">Hủy giao dịch</a>
                </td>
              </tr>
              <tr>
                <td>
                  OTP
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i>demo
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#!" class="btn btn-sm btn-primary">request OTP</a>
                </td>
                <td>
                  <a href="#!" class="btn btn-sm btn-warning">Hủy giao dịch</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Yêu cầu nạp</th>
                <th scope="col">Yêu cầu bán</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <% config.buy.forEach((item) => { %>
                      <a href="dashboard/request/<%= item._id %>"><%= item._id %></a> - <%= new Date(item.createdAt) %><%= (item.status)?'':' - mới' %><br>
                    <% }) %>
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <% config.sell.forEach((item) => { %>
                      <a href="dashboard/request/<%= item._id %>"><%= item._id %></a> - <%= new Date(item.createdAt) %><%= (item.status)?'':' - mới' %><br>
                    <% }) %>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-body">
          <!-- Body -->
        </div>
      </div>
    </div>
  </div>
</div>