<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Chỉnh sửa</h6>
              <h2 class="mb-0">Banner</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Banner trái</label>
          </div>

          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Banner giữa</label>
          </div>

          <div class="custom-file mb-3">
            <input type="file" class="custom-file-input" id="customFile" name="filename">
            <label class="custom-file-label" for="customFile">Banner phải</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>