<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Thông tin</h6>
              <h2 class="mb-0">Mua</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>
</div>