<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Thay đổi mật khẩu</small>
          </div>
          <form role="form" action="register" method="POST">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="Mật khẩu cũ" type="password" required>
              </div>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="Mật khẩu mới" type="password" required>
              </div>
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-unlock"></i></span>
                </div>
                <input class="form-control" name="username" placeholder="Nhập lại mật khẩu" type="password" required>
              </div>

              <% if (locals.errors && errors.username) { %>
                <strong class="invalid-feedback" style="display: block"><%= errors.username %></strong>
              <% } %>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mt-4">Đổi mật khẩu</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <a href="/dashboard/login" class="text-light"><small>Đăng nhập</small></a>
        </div>
      </div>
    </div>
  </div>
</div>