<div class="container-fluid mt-7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Chỉnh sửa</h6>
              <h2 class="mb-0">Liên lạc</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="/dashboard/update-contact" method="POST">
            <% if (locals.messages && messages.success) { %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= messages.success %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <% } %>
            <% if (locals.messages && messages.errors && messages.errors.databaseError) { %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= messages.errors %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
            <% } %>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-name">SĐT</label>
                  <input type="text" id="input-name" class="form-control form-control-alternative" name="name" placeholder="Name" value="<%= locals.userInfo && locals.userInfo.name %>">
                  <% if (locals.messages && messages.errors && messages.errors.name) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.name %></strong>
                  <% } %>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-control-label" for="input-email">Địa chỉ</label>
                  <input type="email" id="input-email" class="form-control form-control-alternative" name="username" placeholder="jesse@example.com" value="<%= locals.userInfo && locals.userInfo.email %>">
                  <% if (locals.messages && messages.errors && messages.errors.username) { %>
                    <strong class="invalid-feedback" style="display: block"><%= messages.errors.username %></strong>
                  <% } %>
                </div>
              </div>
              <div class="col-lg-12 text-center">
                <button class="btn btn-success mt-4 mb-4">Lưu</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>