<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>

  <body>
    <!-- Sidenav -->
    <% if (config.title === 'login' || config.title === 'change-password' || config.title === '404') { %>
      <%- include('./partials/auth/header') %>

      <!-- Page container -->
      <%- include(config.path) %>
    <% } else { %>
      <%- include('./partials/sidebar') %>

      <!-- Main content -->
      <div class="main-content">
        <!-- Top navbar -->
        <%- include('./partials/navbar', { title: config.title }); %>
    
        <div class="header bg-gradient-primary pb-0 pt-0 pt-md-1"></div>

        <!-- Page container -->
        <%- include(config.path) %>

      </div>
    <% } %>
    
    <!-- Include scripts -->
    <%- include('./partials/scripts') %>
  </body>
  
</html>
