<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="vi"/>
    <meta name="google" content="notranslate"/>
    <meta name="description" content="Dashboard">
    <link rel="shortcut icon" href="../../public/images/ms-icon-144x144.png" type="image/x-icon">
    <link rel="icon" href="../../public/images/ms-icon-144x144.png" type="image/x-icon">
    <meta name="referrer" content="no-referrer"/>
    <title>Request Detail <%= _id %></title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext,vietnamese"
          rel="stylesheet">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../public/css/main.css?v=1">
    <link rel="stylesheet" href="../../public/css/stype.css?v=1">
    <link href="../../public/css/allinone_bannerWithPlaylist.css" rel="stylesheet" type="text/css">
    <link href="../../public/css/allinone_bannerRotator.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Request <%= (type) ? 'Sell' : 'Buy' %>: <%= _id %></h1>
<div>Tên nhân vật: <%= username %></div>
<div>Số tiền: <%= amount %></div>
<div>Ngân hàng: <%= bank %></div>
<div>Số tài khoản: <%= account %></div>
<% if(!type){ %><div>Ngày hết hạn: <%= expired %></div><% } %>

<% if(status === 0){ %>
<div id="processing">
    <button class="form-control" onclick="requestOTP()">Yêu cầu OTP</button>
    <button class="form-control" onclick="cancelRequest()">Hủy yêu cầu</button>
</div>
<% } %>

<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/jquery.touchSwipe.min.js"></script>
<script src="../../public/js/jquery.mousewheel.min.js"></script>
<script src="../../public/js/allinone_bannerRotator.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const updateRequest = () => {
    axios.get('/request')
      .then((reqs) => {
        let reqHtml = ''
        reqs.data.forEach((req) => {
          reqHtml += `<p>${JSON.stringify(req)}</p>`
        })
        document.getElementById('logs').innerHTML = reqHtml
      })
  }
  const requestOTP = () => {
    alert('request otp!')
  }
  const cancelRequest = () => {
    alert('cancel Request!')
  }
  setInterval(updateRequest, 1000)
</script>
</body>
</html>
