<div class="wrapper">
    <div class="head-box">Mua Fan</div>
    <div class="box-bg">
        <div class="wrap-form__row row">
            <div class="col-12 form__column form__column--left">
                <form class="form regFrm" id="buyFrm" method="post">
                    <div class="form__group">
                        <div class="wrap-input wrap-input--flare-top form-group">
                            <input class="input form-control" type="text" id="username" name="username" value=""
                                   placeholder="Tên nhân vật" aria-describedby="errUsername" minlength="6"/>
                            <span id="errUsername" class="d-none">Bạn phải nhập tên nhân vật.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="arr"></div>
                        <div class="form__group col-6">
                            <div class="wrap-input form-group">
                                <input class="input form-control" type="number" id="amountBuy" name="amount" min="10000"
                                       aria-describedby="errAmount" placeholder="Số tiền nạp"/>
                                <span id="errAmount" class="d-none">Bạn phải nhập số tiền nạp.</span>
                            </div>
                        </div>
                        <div class="form__group col-6">
                            <div class="wrap-input form-group">
                                <input class="input form-control" type="number" id="exchange" name="exchange"
                                       disabled placeholder="Quy thành Fan"/>
                            </div>
                        </div>
                    </div>

                    <div class="form__group">
                        <div class="wrap-input form-group">
                            <select class="form-control" name="bank" id="bank">
                                <option value="vcb">Vietcombank</option>
                                <option value="hsbc">HSBC</option>
                                <option value="vpb">VPBank</option>
                                <option value="scb">Sacombank</option>
                            </select>
                            <i class="wrap-input__arr"></i>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="wrap-input form-group">
                            <input class="input form-control" type="text" id="account" name="account"
                                   placeholder="Tài khoản ngân hàng"/>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="wrap-input form-group">
                            <input class="input form-control" type="text" id="expired" name="expired"
                                   placeholder="Ngày hết hạn"/>
                        </div>
                    </div>
                    <!--div class="row">
                        <div class="form__group">
                            <div class="wrap-input form-group">
                                <input class="input form-control" type="text" id="expired" name="expired"
                                       placeholder="Ngày hết hạn"/>
                            </div>
                        </div>
                        <div class="form__group col-6">
                            <div class="form-group wrap-input wrap-input--flare-bottom">
                                <input class="input form-control" type="text" id="captcha" name="captcha"
                                       placeholder="Mã bảo mật"/>
                            </div>
                        </div>
                    </div-->
                    <button type="submit" form="buyFrm" class="guiyeucau form-control">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
        <div class="light-bt"></div>
        <div class="light-btt"></div>
    </div>
</div>
