<div class="wrapper">
    <div class="head-box-right">Bảng giá mua bán niêm yết</div>
    <div class="clr"></div>
    <div class="box-bg">
        <div class="bgny row">
            <div class="col-12 form__column form__column--left">
                <p>MUA: <span class="yel_text">100</span> nhận <span class="yel_text">85</span> <br> Bảng
                    giá <span class="yel_text">ưu đãi nhất</span>, ngoài ra tặng <span class="yel_text">quà tri ân</span>
                    quý khách hàng giao dịch trên <span class="yel_text">5.000.000</span>

                </p>
                <table border="0" style="width:100%">
                    <tr>
                        <th width="33.33%">Số tiền giao dịch</th>
                        <th width="33.33%">Mua vào</th>
                        <th width="33.33%">Bán ra</th>
                    </tr>
                    <tr>
                        <td>Dưới 500.000</td>
                        <td>80</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>500.000 ~ 1.000.000</td>
                        <td>80</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td>1.000.000 ~ 5.000.000</td>
                        <td>80</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <td class="red_text">Trên 10.000.000</td>
                        <td class="red_text">81</td>
                        <td class="red_text">85</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="light-bt"></div>
        <div class="light-btt"></div>
    </div>
</div>
