<footer>
    <div class="wrapper" id="contact">
        <div class="row">
            <div class="col-4 text-left">
                <a href="<%= contact.zalo %>">
                    <img src="../public/images/ZALO.png" class="w100" height="100" alt="">
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="<%= contact.fb %>" target="_blank">
                    <img src="../public/images/FANPAGE.png" class="w100" height="100" alt="">
                </a>
            </div>
            <div class="col-4 text-right">
                <a href="<%= contact.tel %>">
                    <img src="../public/images/247.png" class="w100" height="100" alt="">
                </a>
            </div>
        </div>

    </div>
    <p class="text-center">
        <span class="yel_text">MUA BÁN CAM KẾT</span><br>
        Giao dịch <span class="yel_text">uy tín - nhanh gọn - bảo mật</span> thông tin khách hàng<br>
        Đội ngũ nhân viên đông đảo, nhiệt tình, giàu kinh nghiệm, phục vụ khách hàng 24/24<br>
        Mua bán đúng giá niêm yết từ <span class="yel_text">NPH</span><br>
        Hỗ trợ tư vấn giải đáp về game<br>
        Đảm bảo đến đồng tiền cuối cùng của khách hàng có trong game<br>
        <span class="yel_text">Livestream, event</span> thường xuyên trên Fanpage để khách hàng có thể nhận những phần quà từ đại lý<br>
        <span class="yel_text">100%</span> được nhận code khi giao dịch qua <span class="yel_text">website</span>
    </p>
</footer>
