<header class="header">
    <div class="wrapper">
        <div class="row header__row">
            <h1 class="header__logo">
                <a href="/" class="header__logo-link">
                    <img class="header__logo-img" src="../public/images/ribbon.png" alt="Logo"/>
                </a>
            </h1>
        </div>
    </div>
</header>
<div>
    <div class="slide">
        <% if(banners.left) { %>
        <a href="<%= banners.left.href %>" target="_blank" class="banner--left-top">
            <img class="img-responsive" src="<%= banners.left.src %>"
                 alt="<%= banners.left.alt %>"/>
        </a>
        <% } if(banners.right) { %>
        <a href="<%= banners.right.href %>" target="_blank" class="banner--right-top">
            <img class="img-responsive" src="<%= banners.right.src %>"
                 alt="<%= banners.right.alt %>"/>
        </a>
        <% } %>
        <div id="allinone_bannerRotator_classic" style="display:none;">
            <ul class="allinone_bannerRotator_list">
                <% banners.center.forEach((item)=>{ %>
                <li data-bottom-thumb="<%= item.src %>" data-link="<%= item.href %>" data-target="_blank">
                    <img src="<%= item.src %>" alt=""/>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<div id="navbar">
    <a href="/buy" class="mf">Mua Fan</a>
    <a href="/sell" class="bf">Bán Fan</a>
    <a href="/exchange" class="tg">Tỉ Giá</a>
    <a href="#contact" class="lh">Liên hệ</a>
</div>
