<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="content-language" content="vi"/>
    <meta name="google" content="notranslate"/>
    <meta name="description" content="<%= description %>">
    <link rel="shortcut icon" href="../public/images/ms-icon-144x144.png" type="image/x-icon">
    <link rel="icon" href="../public/images/ms-icon-144x144.png" type="image/x-icon">
    <meta name="referrer" content="no-referrer"/>
    <title><%= title %></title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext,vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="../public/css/main.css?v=1">
    <link rel="stylesheet" href="../public/css/stype.css?v=1">
    <link href="../public/css/allinone_bannerWithPlaylist.css" rel="stylesheet" type="text/css">
    <link href="../public/css/allinone_bannerRotator.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="page" class="page">
    <div class="page--top">
        <%- include('header') -%>
        <section class="section section__form">
            <% if(page === 'buy'){ %>
                <%- include('buy') -%>
            <% } else if(page === 'sell') { %>
                <%- include('sell') -%>
            <% } else { %>
                <%- include('exchange') -%>
            <% } %>

            <!--div class="wrapper">
                <div class="head-box-right">Popup</div>
                <div class="clr"></div>
                <div class="box-bg text-center">
                    <button type="button" class="btn btn--yellow" data-backdrop="static" data-keyboard="false"
                            data-toggle="modal" data-target="#dangxuly">Hệ thống đang xử lý
                    </button>
                    <button type="button" class="btn btn--yellow" data-backdrop="static" data-keyboard="false"
                            data-toggle="modal" data-target="#thongbao">Thông báo
                    </button>
                    <button type="button" class="btn btn--yellow" data-backdrop="static" data-keyboard="false"
                            data-toggle="modal" data-target="#khongthanhcong">Không thành công
                    </button>
                    <button type="button" class="btn btn--yellow" data-backdrop="static" data-keyboard="false"
                            data-toggle="modal" data-target="#giaodichthanhcong">Giao dịch thành công
                    </button>
                    <div class="light-bt"></div>
                    <div class="light-btt"></div>
                </div>
            </div-->
        </section>
        <%- include('footer') -%>
    </div>
</div>

<!--<div class="loading">-->
<!--    <img src="../public/images/loading.gif">-->
<!--</div>-->

<div id="dangxuly" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Hệ thống đang xử lý</h4>
                <div class="light-sm"></div>
            </div>
            <div class="modal-body">
                <p class="text-center">Vui lòng xác nhận từ phía đại lý trong ít phút. <br> Không đóng hoặc reset duyệt
                    trình.
                    <br><br> <img src="../public/images/loading.gif" alt="">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-huy" data-dismiss="modal">Gửi yêu cầu</button>
            </div>
        </div>
    </div>
</div>

<div id="thongbao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Thông báo</h4>
                <div class="light-sm"></div>
            </div>
            <div class="modal-body">
                <div class="form__group col-6" style="margin: 0 auto 20px auto;">
                    <div class="wrap-input ">
                        <input class="input" type="text" id="" name="quydoi" placeholder="Nhập mã OTP">
                    </div>
                </div>
                <p class="text-center">
                    Nhập mã OTP để xác nhận từ ngân hàng của bạn
                </p>
            </div>
            <div class="modal-footer">
                <table>
                    <tr>
                        <td>
                            <button type="button" class="guiyeucau">Gửi yêu cầu</button>
                        </td>
                        <td>
                            <button type="button" class="btn-huygiaodich" data-dismiss="modal">Hủy giao dịch</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="khongthanhcong" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Không thành công</h4>
                <div class="light-sm"></div>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    <br> Vui lòng thử lại sau<br> Hoặc liên hệ Fanpage đại lý để được hướng dẫn.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-ok" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="giaodichthanhcong" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Giao dịch thành công</h4>
                <div class="light-sm"></div>
            </div>
            <div class="modal-body">
                <p class="text-center">
                    Đã giao dịch thành công.<br> Vui lòng check tài khoản của bạn. <br>Cần hỗ trợ vui lòng call hoặc
                    liên hệ Fanpage.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-ok" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery.touchSwipe.min.js"></script>
<script src="../public/js/jquery.mousewheel.min.js"></script>
<script src="../public/js/allinone_bannerRotator.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../public/js/app.js?v=1"></script>
</body>
</html>
