<div class="wrapper">
    <div class="head-box">Bán Fan</div>
    <div class="box-bg">
        <div class="wrap-form__row row">
            <div class="col-12 form__column form__column--left">
                <form class="form regFrm" id="sellFrm" method="post">
                    <div class="form__group">
                        <div class="wrap-input wrap-input--flare-top form-group">
                            <input class="input form-control" type="text" id="username" name="username"
                                   placeholder="Tên nhân vật"/>
                            <span id="errUsername" class="d-none">Bạn phải nhập tên nhân vật.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="arr"></div>
                        <div class="form__group col-6">
                            <div class="wrap-input form-group">
                                <input class="input form-control" type="text" id="amountSell" name="amount"
                                       placeholder="Số Fan muốn bán"/>
                                <span id="" class="d-none">Bạn phải nhập số Fan muốn bán.</span>
                            </div>
                        </div>
                        <div class="form__group col-6">
                            <div class="wrap-input form-group">
                                <input class="input form-control" type="text" id="exchange" name="exchange"
                                       disabled placeholder="Quy thành tiền mặt"/>
                            </div>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="wrap-input form-group">
                            <select class="form-control" name="bank" id="bank">
                                <option value="vcb">Vietcombank</option>
                                <option value="hsbc">HSBC</option>
                                <option value="vpb">VPBank</option>
                                <option value="scb">Sacombank</option>
                            </select>
                            <i class="wrap-input__arr"></i>
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="wrap-input form-group">
                            <input class="input form-control" type="text" id="account" name="account"
                                   placeholder="Tài khoản ngân hàng"/>
                        </div>
                    </div>
                    <!--div class="form__group ">
                        <div class="wrap-input capt  wrap-input--flare-bottom">
                            <input class="input" type="text" name="username" placeholder="Nhập Captcha">
                        </div>
                        <div class="">
                            <img src="../public/images/captcha.png" height="44">
                            <a href="#"><img src="../public/images/refresh.png" height="43"></a>
                            <div style="clear: both"></div>
                        </div>
                    </div-->
                    <button type="submit" form="sellFrm" class="guiyeucau form-control">Gửi yêu cầu</button>
                </form>
            </div>
        </div>
        <div class="light-bt"></div>
        <div class="light-btt"></div>
    </div>
</div>
