
/* the border */

* {
    -webkit-text-size-adjust: none;
}

.allinone_bannerWithPlaylistBorder {
    position: relative;
    overflow: hidden;
    background: #000 !important;
}


/* the container */

.allinone_bannerWithPlaylist {
    position: relative;
}

.allinone_bannerWithPlaylist img {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: none;
    max-height: none;
}

.allinone_bannerWithPlaylist_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.allinone_bannerWithPlaylist .stripe {
    position: absolute;
    display: block;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.allinone_bannerWithPlaylist .block {
    position: absolute;
    display: block;
    z-index: 1;
    overflow: hidden;
}

.mycanvas {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 10;
    /*    display: none;*/
}


/***ELEGANT SKIN***/

.allinone_bannerWithPlaylist.elegant .bannerControls {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    cursor: pointer;
}

.allinone_bannerWithPlaylist.elegant .leftNav {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -35px;
    /* height/2 */
    width: 31px;
    height: 71px;
    background: url(../images/leftNavOFF.png) 0 0 no-repeat;
    cursor: pointer;
}

.allinone_bannerWithPlaylist.elegant .leftNav:hover {
    background: url(../images/leftNavON.png) 0 0 no-repeat;
}

.allinone_bannerWithPlaylist.elegant .rightNav {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -35px;
    /* height/2 */
    width: 31px;
    height: 71px;
    background: url(../images/rightNavOFF.png) 0 0 no-repeat;
    cursor: pointer;
}

.allinone_bannerWithPlaylist.elegant .rightNav:hover {
    background: url(../images/rightNavON.png) 0 0 no-repeat;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolderWrapper {
    position: absolute;
    background: #1b1b1b;
    /*height:121px;
	width:100%;*/
    height: 100%;
    overflow: hidden;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolderVisibleWrapper {
    position: absolute;
    /*width:100%;
	height:121px;*/
    height: 100%;
    overflow: hidden;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder {
    position: absolute;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF {
    position: relative;
    display: block;
    height: 44px;
    background: #2c2c2c;
    text-align: left;
    line-height: 1.4em;
    cursor: pointer;
    /*    border-bottom: 1px solid #4b4b4b;*/
    /*    border-top: 1px solid #1b1b1b*/
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF:nth-child(2n+1) {
    background: #232323;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .padding {
    padding: 5px;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .title {
    font: 13px 'Droid Sans', sans-serif;
    color: #ddbe8f;
    display: inline-block;
    /*    padding-bottom: 3px;*/
    line-height: 34px;
    display: block;
    /*    text-align: center;*/
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .reg {
    font: 11px Arial, sans-serif;
    color: #000;
    line-height: 15px;
    display: block;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF img {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 56px;
    height: 34px;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON,
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON:nth-child(2n+1) {
    background: #939598;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON .title,
.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON:nth-child(2n+1) .title {
    color: #fff;
    display: block;
}

.allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbON .reg {
    color: #FFF;
    display: block;
}


/*  scroller start */

.allinone_bannerWithPlaylist.elegant .slider-vertical {
    display: none;
    position: absolute;
    width: 6px;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider {
    position: relative;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 25px;
    cursor: pointer;
    background: url(../images/scrollerFaceOFF.png) 0 0 no-repeat;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider .ui-slider-handle:hover {
    background: url(../images/scrollerFaceON.png) 0 0 no-repeat;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
}


.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider-vertical {
    width: 6px;
    height: 220px !important;
    border: 0;
    background: transparent !important;
    opacity: .2
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider-vertical .ui-slider-handle {
    left: 0px;
    margin-left: 0px;
    margin-bottom: -25px;
    border: 0;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}


/* Component containers
----------------------------------*/

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-widget-content {
    xbackground: #FF0000;
}

.allinone_bannerWithPlaylist.elegant .slider-vertical .ui-widget-header {
    xbackground: #0000cc;
}


/* Corner radius */

.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-corner-all {}

/* Interaction states
----------------------------------
.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-state-default {background: #000000; }
.allinone_bannerWithPlaylist.elegant .slider-vertical.ui-state-hover { background: #FFF000;  }
*/

/*  scroller end */



/***ELEGANT TEXTS***/

.textElement11_elegant {
    width: 100%;
    background: url(../images/textBg_transparency.png);
    font: 22px/27px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 0px 0px 0px;
    color: #ffffff;
}


.textElement21_elegant {
    background: #512d5d;
    font: bold 22px/27px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement22_elegant {
    background: #611731;
    font: bold 14px/18px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}


.textElement31_elegant {
    background: #d61d1d;
    font: bold 18px/22px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement32_elegant {
    background: #ffffff;
    font: bold 18px/22px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #000000;
}

.textElement33_elegant {
    background: #000000;
    font: bold 18px/22px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement41_elegant {
    width: 100%;
    background: url(../images/textBg_transparency.png);
    font: 22px/27px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 0px 0px 0px;
    color: #ffffff;
}


.textElement41_elegant a {
    text-decoration: none;
    color: #ff5c1c;
}

.textElement41_elegant a:hover {
    color: #d2c30f;
}


.textElement51_elegant {
    font: bold 38px/48px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #000000;
}

.textElement52_elegant {
    font: bold 20px/28px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #000000;
}




/***Elegant FullWidth TEXTS***/

.textElement11_elegantFullWidth {
    width: 100%;
    background: url(../images/textBg_transparency.png);
    font: 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
}


.textElement21_elegantFullWidth {
    background: #512d5d;
    font: bold 32px/42px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement22_elegantFullWidth {
    background: #611731;
    font: bold 24px/28px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}


.textElement31_elegantFullWidth {
    background: #d61d1d;
    font: bold 28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement32_elegantFullWidth {
    background: #ffffff;
    font: bold 28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #000000;
}

.textElement33_elegantFullWidth {
    background: #000000;
    font: bold 28px/32px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 3px 2px 3px;
    color: #ffffff;
}

.textElement41_elegantFullWidth {
    width: 100%;
    background: url(../images/textBg_transparency.png);
    font: 42px/50px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    color: #ffffff;
}


.textElement41_elegantFullWidth a {
    text-decoration: none;
    color: #ff5c1c;
}

.textElement41_elegantFullWidth a:hover {
    color: #d2c30f;
}


.textElement51_elegantFullWidth {
    font: bold 48px/58px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #000000;
}

.textElement52_elegantFullWidth {
    font: bold 30px/38px 'Droid Sans', Verdana, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 2px 3px 2px 3px;
    color: #000000;
}














.allinone_bannerWithPlaylist_texts {
    position: absolute;
    z-index: 3;
    display: none;
    width: 100%;
    text-align: left;
}

.allinone_bannerWithPlaylist_text_line {
    position: absolute;
}



.hideElement {
    display: none;
}


.right-box-50 .allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .title {
    /*    line-height: 20px !important;*/
}

.right-box-50 .allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .reg {
    color: #fee71b;
    position: absolute;
    right:15px;
    top: 15px;

}

.right-box-50 .allinone_bannerWithPlaylist.elegant .thumbsHolder_ThumbOFF .reg::before {
    content: url('../images/coin.png');
    margin-right: 5px;
    vertical-align: -webkit-baseline-middle;
}


.left-box-50 .textElement11_elegant {
    width: auto;
    background:none;
    font: 14px 'Droid Sans', Verdana, Helvetica, sans-serif;
    padding: 2px 0px 0px 0px;
    color: #ffffff;
}
.left-box-50 .textElement11_elegant a {
    background: #e0372b;
    padding: 5px 11px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    
}