.btn--download-android,
.btn--download-ios {
	display: none;
}

.thankyou {
	display: none;
	width: 100%;
	text-align: center;
}
.modal {
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a {
	color: #ff9a00;
}
.contact__wrapper .break-mobile {
    margin: 1rem 0;
}
.btn--call {
	position: fixed;
    bottom: 10px;
}
.btn--chat {
	display: none;
}
p {
	line-height: 1.3;
}

#android {
	display: none;
	margin-bottom: 0px!important;
}
.hoac {
	display: none;
}
.text-ios,
.text-android {
	display: none;
}

