<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Dashboard for Node.js.">
  <meta name="author" content="Creative Tim">
  <title>Game Bank Dashboard</title>
  <!-- Favicon -->
  <link href="../../public/img/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

  <!-- Argon JS -->
  <script src="../../public/argon/argon.min.js?v=1.0.0"></script>
  <!-- Argon CSS -->
  <link type="text/css" href="../../public/argon/argon.min.css?v=1.0.0" rel="stylesheet">
</head>