<nav class="navbar navbar-top navbar-expand-md navbar-light" id="navbar-main">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="h4 mb-0 text-black text-uppercase d-none d-lg-inline-block" href="/"><%= title %></a>
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="Image placeholder" src="../../../public/images/avatar.jpg">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="text-black mb-0 text-sm font-weight-bold">admin</span>
            </div>
          </div>
        </a>

        <%- include('./user-dropdown') %>
      </li>
    </ul>
  </div>
</nav>
