<script>
  function addEvent(event, elem, func) {
    if (elem.addEventListener) // W3C DOM
      elem.addEventListener(event, func, false);
    else if (elem.attachEvent) { // IE DOM
      elem.attachEvent("on" + event, func);
    } else { // No much to do
      elem["on" + event] = func;
    }
  }

  function redirectToLogin() {
    if (this.status === 200) {
      return window.location = this.responseURL || '/login';
    }
  }

  function logout(event) {
    if (!event.target.className.includes('logout')) {
      return;
    }

    var xhr = new XMLHttpRequest();

    xhr.addEventListener("load", redirectToLogin);
    xhr.open("POST", "/logout");
    xhr.send();
  }

  var bodyElement = document.querySelector('body');
  addEvent('click', bodyElement, logout);
</script>

<script>
  const updateRequest = () => {
    axios.get('/request')
      .then((reqs) => {
        let reqHtml = ''
        reqs.data.forEach((req) => {
          reqHtml += `<p>${JSON.stringify(req)}</p>`
        })
        // document.getElementById('logs').innerHTML = reqHtml
        console.log('--- reqHtml ---', reqHtml)
      })
  }
  setInterval(updateRequest, 1000)
</script>

<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/jquery.touchSwipe.min.js"></script>
<script src="../../public/js/jquery.mousewheel.min.js"></script>
<script src="../../public/js/allinone_bannerRotator.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>