<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Info -->
    <span>ID: GameBank1</span> 
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Divider -->
      <hr class="my-3">
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="fa fa-podcast text-primary"></i>Tài khoản phụ
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#submenu1" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-archive text-primary"></i>Yêu cầu
          </a>
        </li>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse pl-4">
          <a href="/dashboard/buy" class="list-group-item list-group-item-action nav-link border-0">
            <i class="fa fa-info text-primary"></i>Mua
          </a>
          <a href="/dashboard/sell" class="list-group-item list-group-item-action nav-link border-0">
            <i class="fa fa-info text-primary"></i>Bán
          </a>
        </div>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#submenu2" data-toggle="collapse" aria-expanded="false">
            <i class="fa fa-tasks text-primary"></i>Sửa thông tin
          </a>
        </li>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse pl-4">
          <a href="/dashboard/banner" class="list-group-item list-group-item-action nav-link border-0">
            <i class="fa fa-info text-primary"></i>Banner
          </a>
          <a href="/dashboard/contact" class="list-group-item list-group-item-action nav-link border-0">
            <i class="fa fa-info text-primary"></i>Liên lạc
          </a>
        </div>
      </ul>
    </div>
  </div>
</nav>
