<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <a href="/dashboard/change-password" class="dropdown-item change-password">
    <i class="fa fa-unlock-alt"></i>
    <span class="change-password">Đổi mật khẩu</span>
  </a>
  <a href="/dashboard/login" class="dropdown-item logout">
    <i class="fa fa-power-off"></i>
    <span class="logout">Đăng xuất</span>
  </a>
</div>